*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

body {
  background-color: $pink;
  position: relative;

  &:after {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 5px;
    background: $brilliant-rose;
    background: linear-gradient(to left, $brilliant-rose, $persimmon);
  }
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
