.header {
  align-items: center;
  background-image: url('../img/sorocaba.jpg');
  background-position: center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 1;

  &::before {
    background: $brilliant-rose;
    background-image: linear-gradient(to left, $brilliant-rose, $persimmon);
    content: '';
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::after {
    background: $black;
    content: '';
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
}
