.main {
  margin: auto;
  max-width: 90vw;

  a {
    letter-spacing: 1.5px;
  }

  p {
    font-weight: bold;
    margin: 1.5rem auto;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }

  a {
    display: inline-block;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background: $rosa;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease;

    &:visited {
      color: #fff;
    }

    &:hover {
      background: darken($rosa, 10%);
    }
  }
}
