.main {
  margin: auto;
  max-width: 90vw;

  a {
    letter-spacing: 1.5px;
  }

  p {
    font-weight: bold;
    margin: 1.5rem auto;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }

  a {
    display: inline-block;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background: $bittersweet;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    transition-property: background, color;
    transition-duration: .2s;
    transition-timing-function: ease;

    &:visited {
      color: $white;
    }

    &:hover {
      background: darken($bittersweet, 10%);
    }
  }
}
