// Color names from http://chir.ag/projects/name-that-color/

$white: #fff;
$black: #000;
$bittersweet: #ff6f6f;
$beauty-bush: #f4cccc;
$brilliant-rose: #f857a6;
$persimmon: #ff5858;;
$pink: #ffc0cb;

//breakpoints
$md-breakpoint: 768px;

//font-family
$primary-font: 'Montserrat';
